::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(70, 70, 70);
}

* {
    word-break: break-word;
    font-family: "JetBrains-Mono", sans-serif;
}

body {
    background-color: #212121;
    overflow-x: hidden;
    margin: 0;
    padding: 0 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga" 1, "dlig" 1;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    opacity: .5;
    margin: 7rem 0 1rem;
}

ul {
    padding: 0 1.5rem;
}

.title {
    white-space: nowrap;
    color: #ffffff;
    display: block;
    padding: 0 1rem;
    font-weight: bold;
}

.title.clear {
    padding: 0 !important;
    margin: 1rem 0 !important;
}

.title.dark {
    color: #d2d2d2;
}

.title.big {
    padding: 1.5rem 1rem;
    font-size: 2.5rem;
}

.title--image {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.title--container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.title--container > h1 {
    margin: 0 !important;
    padding: 0 0!important;
}

main {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2.5rem;
}

.container {
    background: rgba(57, 57, 57, 0.3);
    opacity: .7;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 4px 4px 25px 0 rgba(0, 0, 0, 0.1);
}

.container.col {
    flex-direction: column;
}


input {
    width: calc(100% - 2rem);
    display: block;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: .75rem;
    background: none;
    font-size: 2rem;
    caret-color: #0090ff;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    transition: .5s;
}

input:focus {
    border-bottom: 1px solid #0090ff;
}

.license {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-size: 1rem;
    color: #d2d2d2;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #22d5ff;
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
}

.content {
    padding-bottom: 3rem;
    width: 100%;
}

.content > h2 {
    font-size: 2rem;
    width: fit-content;
    border-bottom: 3px solid #0090ff;
    color: #d2d2d2;
}

.content > h2 > strong {
    color: #22d5ff;
}

p,
.content > a,
.content > ul > li {
    color: #d2d2d2;
    margin: .75rem 0;
    font-size: larger;
}

.content > ul > li {
    margin: .5rem 0;
    line-height: 1.5rem;
}

@media (max-width: 1000px) {
    body {
        padding: 0 10%;
    }
}

@media (max-width: 800px) {
    body {
        padding: 0 5%;
    }
}

@media (max-width: 740px) {
    main {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 0;
    }

    .container {
        padding: 0 .5rem;
    }

    input {
        font-size: 1.25rem;
        margin-left: .5rem;
        margin-bottom: 1rem;
        width: calc(100% - 1rem);
    }

    hr {
        margin: 5rem 0 .5rem;
    }

    .title {
        font-size: 1.25rem;
        padding: 0 .5rem;
        margin: .75rem 0;
    }

    .title.big {
        font-size: 2rem;
    }

    .title--image {
        width: 2rem;
        height: 2rem;
    }

    p,
    .content > a,
    .content > ul > li {
        font-size: medium;
    }
}

@media (max-width: 240px) {
    .title.big {
        font-size: 10vw;
    }

    .title {
        font-size: 7vw;
    }

    .title--image {
        width: 10vw;
        height: 10vw;
    }
}

@font-face {
    font-family: "JetBrains-Mono";
    src:
            local("JetBrains Mono"),
            url("JetBrainsMono-Regular.woff2") format("woff"),
            url("JetBrainsMono.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}